In [82]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [83]:
data = pd.read_csv("train.csv")

data.head()

,Gender,Age,openness,neuroticism,conscientiousness,agreeableness,extraversion,Personality (Class label)
0,Male,17,7,4,7,3,2,extraverted
1,Male,19,4,5,4,6,6,serious
2,Female,18,7,6,4,5,5,dependable
3,Female,22,5,6,7,4,3,extraverted
4,Female,19,7,4,6,5,4,lively

In [84]:
data.isnull().sum()

Gender                       0
Age                          0
openness                     0
neuroticism                  0
conscientiousness            0
agreeableness                0
extraversion                 0
Personality (Class label)    0
dtype: int64

In [85]:
data.groupby("Personality (Class label)").mean()

,Age,openness,neuroticism,conscientiousness,agreeableness,extraversion
Personality (Class label),,,,,,
dependable,19.717391,5.115942,4.739130,4.768116,4.833333,4.550725
extraverted,19.726667,5.066667,4.906667,4.540000,4.860000,4.380000
lively,19.761194,5.119403,4.500000,4.701493,4.865672,4.291045
responsible,19.412698,4.817460,4.452381,4.515873,4.714286,4.214286
serious,19.770186,4.968944,4.602484,4.683230,4.850932,4.565217

In [86]:
data = data.replace({"Personality (Class label)":{"dependable":1,"extraverted":2,"lively":3,"responsible":4,"serious":5}})
data = data.replace({"Gender":{"Male":0,"Female":1}})

In [87]:
data

,Gender,Age,openness,neuroticism,conscientiousness,agreeableness,extraversion,Personality (Class label)
0,0,17,7,4,7,3,2,2
1,0,19,4,5,4,6,6,5
2,1,18,7,6,4,5,5,1
3,1,22,5,6,7,4,3,2
4,1,19,7,4,6,5,4,3
...,...,...,...,...,...,...,...,...
704,1,20,4,5,6,6,1,4
705,0,18,6,3,1,5,5,1
706,0,22,5,2,3,6,1,5
707,0,19,5,6,5,7,5,2
708,1,18,5,5,7,6,5,2

"dependable":1,"extraverted":2,"lively":3,"responsible":4,"serious":5

In [88]:
x = data.drop("Personality (Class label)",axis=1)
y = data["Personality (Class label)"]

In [89]:
x

,Gender,Age,openness,neuroticism,conscientiousness,agreeableness,extraversion
0,0,17,7,4,7,3,2
1,0,19,4,5,4,6,6
2,1,18,7,6,4,5,5
3,1,22,5,6,7,4,3
4,1,19,7,4,6,5,4
...,...,...,...,...,...,...,...
704,1,20,4,5,6,6,1
705,0,18,6,3,1,5,5
706,0,22,5,2,3,6,1
707,0,19,5,6,5,7,5
708,1,18,5,5,7,6,5

In [90]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [91]:
model = LogisticRegression()
model.fit(x_train,y_train)

c:\Users\Huawei D14\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [92]:
data

,Gender,Age,openness,neuroticism,conscientiousness,agreeableness,extraversion,Personality (Class label)
0,0,17,7,4,7,3,2,2
1,0,19,4,5,4,6,6,5
2,1,18,7,6,4,5,5,1
3,1,22,5,6,7,4,3,2
4,1,19,7,4,6,5,4,3
...,...,...,...,...,...,...,...,...
704,1,20,4,5,6,6,1,4
705,0,18,6,3,1,5,5,1
706,0,22,5,2,3,6,1,5
707,0,19,5,6,5,7,5,2
708,1,18,5,5,7,6,5,2

In [93]:
data.describe()

,Age,openness,neuroticism,conscientiousness,agreeableness,extraversion,Personality (Class label)
count,709.000000,709.000000,709.000000,709.000000,709.000000,709.000000,709.000000
mean,19.685472,5.019746,4.647391,4.643159,4.827927,4.409027,3.031030
std,2.510672,1.519052,1.658673,1.703569,1.632564,1.567404,1.441573
min,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,18.000000,4.000000,4.000000,3.000000,4.000000,3.000000,2.000000
50%,19.000000,5.000000,5.000000,5.000000,5.000000,5.000000,3.000000
75%,21.000000,6.000000,6.000000,6.000000,6.000000,6.000000,4.000000
max,28.000000,8.000000,8.000000,8.000000,8.000000,7.000000,5.000000

In [94]:
data

,Gender,Age,openness,neuroticism,conscientiousness,agreeableness,extraversion,Personality (Class label)
0,0,17,7,4,7,3,2,2
1,0,19,4,5,4,6,6,5
2,1,18,7,6,4,5,5,1
3,1,22,5,6,7,4,3,2
4,1,19,7,4,6,5,4,3
...,...,...,...,...,...,...,...,...
704,1,20,4,5,6,6,1,4
705,0,18,6,3,1,5,5,1
706,0,22,5,2,3,6,1,5
707,0,19,5,6,5,7,5,2
708,1,18,5,5,7,6,5,2

In [95]:
             #g,a, o,n,c,a,a 
input_data = (0,21,5,3,4,6,6)

#içe atanmış data tanımlanıyor
input_data_np_array = np.array(input_data)

#datanın şekli şekillendiriliyor
input_data_reshape = input_data_np_array.reshape(1,-1)

# predict fonksyonu çağırılıyor
prediction = model.predict(input_data_reshape)
print(prediction)

[5]

c:\Users\Huawei D14\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [96]:
from sklearn.tree import DecisionTreeClassifier

In [98]:
dtree = DecisionTreeClassifier()
dtree.fit(x_train,y_train)

DecisionTreeClassifier()

In [102]:
predictiontree = dtree.predict(x_train)
from sklearn.metrics import accuracy_score
acc_scr = accuracy_score(y_train,predictiontree)
print(acc_scr)

0.9947089947089947

In [104]:
input_data = (0,19,5,3,4,6,6)

#içe atanmış data tanımlanıyor
input_data_np_array = np.array(input_data)

#datanın şekli şekillendiriliyor
input_data_reshape = input_data_np_array.reshape(1,-1)

# predict fonksyonu çağırılıyor
prediction = dtree.predict(input_data_reshape)
print(prediction)

[5]

c:\Users\Huawei D14\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [105]:
prediction2 = model.predict(x_test)
from sklearn.metrics import accuracy_score
acc_scr = accuracy_score(y_test,prediction2)
print(acc_scr)

0.18309859154929578